@font-face {
  font-family: "Regular";
  src: url("/assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Semibold";
  src: url("/assets/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Mono";
  src: url("/assets/fonts/RedHatMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url("/assets/fonts/InterTight-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --background: whitesmoke;
  --foreground: #111;

  /* Colors */
  --accent: #2347ab;

  /* Spacing */
  --pad-xs: 4px;
  --pad-s: 8px;
  --pad-m: 12px;
  --pad-l: 16px;
  --pad-xl: 24px;
  --pad-xxl: 48px;

  /* Backgorund Blur */
  --blur-amt-s: 12px;
  --blur-amt-m: 24px;
  --blur-amt-l: 32px;
  --blur-amt-xl: 64px;
  --blur-bg-dark-1: rgba(0, 0, 0, 0.2);
  --blur-bg-dark-2: rgba(0, 0, 0, 0.4);
  --blur-bg-bright: rgba(255, 255, 255, 0.1);
  --blur-border: 1px solid rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Regular;
  max-width: 1800px;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
  font-size: 1.2rem;
  overflow-x: hidden;
}

/* Section */
section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--pad-l);
  padding: var(--pad-xxl);
  min-height: 50vh;
}

/* Hero */
.hero-section {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 70vh;
  width: 30vw;
  object-fit: cover;
  z-index: 10;
}

.hero-title-container {
  position: absolute;
  left: 12vw;
  right: 12vw;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 15;
}

.hero-title {
  font-size: 1.5em;
  font-family: "Regular";
  color: var(--foreground);
  min-width: 200px;
  text-align: center;
}

/* About */
.angebot-divider-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--pad-xxl);
}

.about-portrait-img {
  width: 100%;
}

.about-link {
  transition: opacity 300ms ease;
}

.about-link:hover {
  opacity: 0.3;
}

/* Angebot */
.angebot-sprachen-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--pad-xl);
  align-items: start;
}

.angebot-heading {
  font-size: 1.3em;
  margin-bottom: var(--pad-m);
  font-family: "Semibold";
}

.angebot-info-container {
  display: flex;
  flex-direction: column;
}

.angebot-container {
  display: flex;
  flex-direction: column;
  gap: var(--pad-xl);
}

.angebot-info-heading {
  font-size: 1.3em;
  margin-top: var(--pad-m);
  margin-bottom: var(--pad-m);
  font-family: "Semibold";
}

ul {
  margin-left: var(--pad-xl);
}

ul li {
  margin-bottom: var(--pad-s);
}

.angebot-text {
  font-size: 1em;
}

.angebot-sprache {
  border-left: solid 2px var(--accent);
  padding-left: var(--pad-m);
}

/* Section Title */
.section-title-container {
  padding-right: var(--pad-m);
}

.section-title {
  position: relative;
  font-size: 2.2em;
  line-height: 1.5;
}

/* Gallery */
.gallery-section {
  background-color: var(--background);
  color: var(--foreground);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-display {
  width: auto;
  height: 70vh;
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-display img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--pad-m);
  margin-top: var(--pad-xxl);
}

.gallery-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2em;
}

#imageCounter {
  margin: 0 20px;
  font-size: 1.2em;
  min-width: 60px;
  text-align: center;
}

.gallery-img {
  display: none;
}

/* Contact */
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50vh;
  background-color: var(--accent);
  color: var(--background);
  font-size: 1.5em;
  text-transform: uppercase;
  gap: var(--pad-m);
}

.contact-text {
  opacity: 0.4;
}

.contact-text-link {
  opacity: 1;
  transition: padding ease 200ms;
}

.contact-text-link:hover {
  padding-bottom: var(--pad-m);
}

/* Footer */
footer {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--pad-s);
  padding: var(--pad-m);
  z-index: 5;
  background-color: var(--foreground);
}

.footer-text {
  color: var(--background);
  cursor: pointer;
  font-size: 1em;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1rem;
  }
  .hero-title-container {
    position: absolute;
    left: 10vw;
    right: 10vw;
  }

  .hero-title {
    font-size: 1em;
    font-family: "Regular";
    color: var(--background);
    min-width: auto;
    text-align: center;
  }

  .hero-img {
    height: 85vh;
    width: 85vw;
  }

  section {
    padding: var(--pad-xxl) var(--pad-xl);
  }

  .angebot-divider-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--pad-xxl);
  }

  .contact-section {
    flex-direction: column;
    height: 70vh;
    font-size: 1.5em;
    gap: var(--pad-xxl);
  }

  .contact-text {
    font-size: 1em;
  }

  footer {
    font-size: 0.75em;
  }

  .contact-text-link:hover {
    padding-bottom: 0;
    color: var(--accent);
    background-color: var(--background);
  }
}
