@font-face {
  font-family: Switzer;
  src: url("assets/fonts/Switzer-Variable.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: Switzer;
  src: url("assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

:root {
  --hero-title: calc(4.5vw + 1em);
  --title: 1.2em;
  --body: calc(100vw / 1em);
  --footnote: 0.75em;

  --midgrey: #7e7e7e;
  --lightgrey: #d9d9d9;
  --accent: #ff2300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #111;
    --black: whitesmoke;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --white: whitesmoke;
    --black: #111;
  }
}

html,
body {
  background-color: var(--white); /* cornflowerblue */
  color: var(--black);
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 300;
  font-family: Switzer;
  font-size: 1rem;
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

nav {
  height: 50px;
  max-width: 1800px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  padding-top: 5px;
  font-size: var(--body);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transition: transform 300ms ease;
  background-color: var(--white);
  z-index: 500;
  padding: 0px 20px 0px 20px;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: var(--black);
  text-align: center;
  transition: opacity 300ms ease-out;
}

.nav-link:hover {
  opacity: 0.6;
}

.logo {
  font-weight: 500;
}

/* Footer */
footer {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px 20px 8px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-text {
  color: var(--midgrey);
  font-size: var(--footnote);
  border-radius: 4px;
  padding: 4px 8px;
}

.footer-text:hover {
  border-radius: 4px;
  padding: 4px 8px;
  background-color: var(--lightgrey);
  color: var(--white);
}

/* Hero Container */
.hero-container {
  margin-top: 50px;
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title-container {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title-s {
  font-size: var(--title);
  line-height: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.hero-title-l {
  font-size: var(--hero-title);
  line-height: 1;
  margin: 0;
  font-weight: 400;
}

.subpage-hero {
  height: 50vh;
}

/* About Section */
.about-container {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  gap: 5em;
  padding: 10% 5% 10% 5%;
}

.about-divider {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul li::marker {
  font-size: var(--body);
  color: #b9b9b9;
}

ul {
  font-size: var(--body);
  margin: 8px 0px 0px 0px;
}

li {
  margin-bottom: 16px;
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

h4 {
  line-height: 1;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 6px;
}

.about-portrait-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 16px;
}

.personal-info-div {
  display: flex;
  flex-direction: column;
}

.contact-info {
  font-size: var(--body);
  margin: 4px;
}

a.contact-info {
  text-decoration: underline;
}

.gallery-link-hero {
  display: flex;
  height: 50vh;
  position: relative;
}

.gallery-link-hero:hover .hero-img {
  filter: brightness(0.75);
  z-index: 0;
}

.image-link-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: var(--hero-title);
  font-weight: 400;
}

/* Angebot */
.site-indicator-title {
  margin: 8% 3% 12% 3%;
  text-align: center;
}

.angebot-container {
  padding: 20px;
}

.angebot-sprachen-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-top: 24px;
}

.angebot-sprache {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 12px;
  border-radius: 16px;
}

.angebot-heading {
  margin-bottom: 24px;
  font-size: var(--body);
}

.angebot-text {
  margin: 3px;
  margin-bottom: 12px;
  border-left: 1.5px solid var(--accent);
  padding-left: 8px;
  font-size: var(--body);
}

.angebot-info-container {
  padding: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  margin: 0;
  font-size: var(--body);
}

/* Gallery */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 8px;
  margin-top: 24px;
  padding: 0px 20px 4% 20px;
}

.gallery-img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

/* Lightbox */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 600;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.lightbox-trigger {
  cursor: pointer;
}

/* Datenschutz und Impressum */
.info-site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-container {
  padding: 20px;
  font-size: var(--body);
}

.info-text {
  column-count: 3;
}

@media screen and (max-width: 930px) {
  :root {
    --hero-title: calc(4.5vw + 1em);
    --title: 1.5em;
    --body: calc(0.2vw + 1em);
    --footnote: calc(0.2vw + 0.5em);
  }

  /* About Section */
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-portrait-img {
    width: 50%;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
  }

  .angebot-sprachen-container {
    grid-template-columns: 1fr;
  }

  .angebot-info-container {
    padding: 12px;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0px;
    padding: 10px;
  }

  nav {
    height: 50px;
    padding: 0px 16px 0px 16px;
  }

  .nav-link-container {
    gap: 12px;
  }

  footer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 20px;
  }
}
